body {
  text-align: center;
}

.hero h1 {
  text-align: center;
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  /* padding-top: 80px; */
}


h2 {
  text-align: center;
  font-size: 140px;
  /* margin-top: 12px; */
  padding-top: 12px;
}

.hero {
  height: 85vh;
  width: 100vw;
  background-size: cover;
  background-image: url('./../../../kittez.png');
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.hero * {
  position: relative;
  z-index: 2;
}

/* .hero h2 {
  color: black;
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero h1 {
  font-weight: 700;
  padding-top: 130px;
  font-family: "Rakkas", serif;


}

.hero h2 {
  font-weight: 300;
  font-size: 22px;
} */


@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 55px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1437px) {
  .hero h1 {
    font-size: 100px;
    padding-top: 100px;
  }

  .hero h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1155px) {
  .hero h1 {
    font-size: 75px;
    padding-top: 150px;
  }
  .hero h2 {
    font-size: 20px;
  }
}

/* .row {
  margin-bottom: 50px;
} */


Form {
  border: 1px solid lightgray;
  /* border-radius: 10px; */
  padding: 20px;
  width: 80%;
  margin: 75px;
  text-align: left;
  margin-left: 20px;
  background: white
}

input,
label
{
  padding: 5px;
  width: 100%;
}

#btn {
width: 75px;
margin-top: 10px;
border-radius: 50px;
border: none;
background-color: orange;
margin-bottom: 10px;
}


#name,
#email,
#message,

label
{
padding-top: 15px;
}

#text {
width: 100%;
min-height: 300px
}


#contact-h2 {
font-family: Alegreya, serif;
font-weight:  bold;
margin-left: 75px;
margin-top: 30px;
}

#button {
color: white;
margin-top: 10px;
border: none;
border-radius: 20px;
background-color: orange;

}

#btn:hover { 
background-color: greenyellow;
text-decoration: none;
border: none;

} 

.contact-h2, #contact-h2 {
  color: white;
}

