
body {
	color: white;
	width: 100vw;
	margin-left: 20px;
}

.Navbar {
	position: sticky;
  display:flex;
  justify-content: left;
  z-index: 100;
  top: 0;
}

a {
  font-weight: 400;
  color: white;
}

a:hover {
  color: orange;
} 




#brand {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}

#logo {
	padding-left: 10px;
}


/* Container {
	display: flex; 
	position: relative;
	padding-left: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	
}  */

